* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 120%;
  box-sizing: border-box;
}

body {
  font-family: anta, sans-serif;
  color: rgba(245, 245, 245, 0.979);
  background-color: rgba(0, 0, 0, 0.932);
}

/*Layout*/

header {
  position: relative;
  height: 35vh;
  border-bottom: 6px solid rgba(245, 245, 245, 0.979);
}
